@font-face{font-family: Roboto;font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc-.woff) format("woff"),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc8.eot?#) format("eot")}

@font-face{font-family: Roboto;font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxM.woff) format("woff"),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxO.eot?#) format("eot")}

@font-face{font-family: Roboto;font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc-.woff) format("woff"),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc8.eot?#) format("eot")}

/** ================================================================================================
 *  Core setup.
 ** ----------- */

/*! core.css | MIT License | brikcss  <https://github.com/brikcss> */

/** Core imports.
    ============================================================================================= */

/*! browser-reset.css | MIT License | brikcss  <https://github.com/brikcss> | Credit to @necolas for normalize.css, which many of these styles were based on. */

:root{--base-rhythm: 8px;--base-font__size: 16px;--base-font__size--heading: 1.2em;--base-line-height: 3rem;--base-spacing: 2rem;--base-spacing--headings: 4rem;--base-spacing--h1: 0;--base-border: 1px solid hsl(0, 0%, 80%);--base-outline__width: 2px;--base-tab-size: 4;--base-indent: 3rem;--base-indent--list: 5rem;--base-button__bg: hsl(0, 0%, 90%);--base-button__padding: 0 0.5rem;--base-button__height: 4rem;--base-button__border: 1px solid hsla(0, 0%, 0%, 0.1);--base-table__border: var(--base-border);--base-table__cell-padding: 0.5rem 1rem;--base-table__even-cells-bg: hsla(0, 0%, 0%, 0.05);--base-fieldset__padding: 2rem;--base-legend__padding: 1rem;--base-input__height: 4rem;--base-input__width: 100%;--base-input__bg: hsl(0, 0%, 100%);--base-input__padding: 1rem;--base-input__placeholder-color: hsl(0, 0%, 60%);--base-input__placeholder-color--firefox: hsl(0, 0%, 0%);--base-range__shadow: 0 0.125rem 0.3rem hsla(0, 0%, 0%, 0.4) inset;--base-range__bg: hsl(0, 0%, 90%);--base-range__bg--focused: hsl(0, 0%, 80%);--base-range__thumb-bg: hsl(0, 0%, 90%);--base-range__thumb-shadow: 0 0.125rem 0.125rem hsla(0, 0%, 0%, 0.3);--base-range__height: 0.8rem;--base-range__border: 1px solid hsl(0, 0%, 60%);--base-range__webkit-margin-top: -0.6rem;--base-progress__height: 1rem;--base-progress__width: var(--base-input__width);--base-progress__bg: hsl(0, 0%, 90%);--base-progress__value-bg: hsl(206, 99%, 31%)}

html{font-size:var(--base-rhythm);-webkit-text-size-adjust:100%;-webkit-box-sizing:border-box;box-sizing:border-box}

body{font-size:var(--base-font__size);line-height:var(--base-line-height)}

*,:after,:before{-webkit-box-sizing:inherit;box-sizing:inherit}

:focus{outline:var(--base-outline__width) auto #5d9dd5}

abbr,article,aside,audio,blockquote,body,code,div,dl,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,iframe,img,input,label,legend,li,nav,object,p,pre,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,video{margin:0;padding:0}

ol,ul{margin:0;padding-left:var(--base-indent--list)}

h1{margin-top:var(--base-spacing--h1)}

h2,h3,h4,h5,h6{margin-top:var(--base-spacing--headings)}

dl,fieldset,figure,form,ol,p,table,ul{margin-top:var(--base-spacing)}

ol ol,ol ul,ul ol,ul ul{margin-top:0}

blockquote,dt{font-style:italic}

dd{margin-left:0;padding-left:var(--base-indent)}

blockquote{border-left:.5rem solid rgba(0,0,0,.2);margin-left:var(--base-indent);padding-left:1.5rem}

hr{height:0;overflow:visible;border:0;border-bottom:var(--base-border);border-top:var(--base-border)}

pre{-moz-tab-size:var(--base-tab-size);-o-tab-size:var(--base-tab-size);tab-size:var(--base-tab-size)}

h1,h2,h3,h4,h5,h6{font-size:var(--base-font__size--heading)}

a{background-color:transparent}

abbr[title]{border-bottom:none;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}

b,strong{font-weight:bolder}

code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}

small{font-size:80%}

sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}

sub{bottom:-.25em}

sup{top:-.5em}

img,object{max-width:100%}

img{border-style:none}

::-webkit-input-placeholder{color:var(--base-input__placeholder-color)}

::-moz-placeholder{color:var(--base-input__placeholder-color--firefox)}

::-ms-input-placeholder{color:var(--base-input__placeholder-color)}

textarea{background-clip:padding-box;border-radius:0;background-color:var(--base-input__bg);border:var(--base-border);text-align:left;height:var(--base-input__height);vertical-align:middle;width:var(--base-input__width)}

[type=date],[type=datetime-local],[type=datetime],[type=email],[type=month],[type=number],[type=password],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}

[type=date],[type=datetime-local],[type=datetime],[type=email],[type=month],[type=number],[type=password],[type=search],select{background-clip:padding-box;border-radius:0;background-color:var(--base-input__bg);border:var(--base-border);padding:0 var(--base-input__padding);text-align:left;height:var(--base-input__height);vertical-align:middle;width:var(--base-input__width)}

[type=tel],[type=text],[type=time],[type=url],[type=week],progress{-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0}

[type=tel],[type=text],[type=time],[type=url],[type=week]{background-clip:padding-box;border:var(--base-border);padding:0 var(--base-input__padding);text-align:left;background-color:var(--base-input__bg);height:var(--base-input__height);vertical-align:middle;width:var(--base-input__width)}

button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1em}

button,input{overflow:visible}

button,select{text-transform:none}

fieldset{padding:var(--base-fieldset__padding);border:var(--base-border)}

legend{-webkit-box-sizing:border-box;box-sizing:border-box;display:table;max-width:100%;white-space:normal;color:inherit;padding-left:var(--base-legend__padding);padding-right:var(--base-legend__padding)}

progress{height:var(--base-progress__height);width:var(--base-progress__width);border:0;vertical-align:baseline;background-color:var(--base-progress__bg);color:var(--base-progress__value-bg)}

progress::-webkit-progress-bar{background-color:var(--base-progress__bg)}

progress::-webkit-progress-value{background-color:var(--base-progress__value-bg)}

progress::-moz-progress-bar{background-color:var(--base-progress__value-bg)}

select{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#fff url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);background-repeat:no-repeat;background-position:99% center}

textarea{overflow:auto;display:block;height:auto;min-height:calc(2*var(--base-input__height));padding:var(--base-input__padding)}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}

[type=search]{-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield;outline-offset:-0.25rem}

[type=search]::-webkit-search-decoration{-webkit-appearance:none;appearance:none}

[type=color],[type=range]{height:var(--base-input__height);vertical-align:bottom}

[type=range]{-webkit-appearance:none;-moz-appearance:none;appearance:none;background:0 0;cursor:pointer;width:var(--base-input__width)}

[type=range]::-webkit-slider-thumb{-webkit-appearance:none;appearance:none}

[type=range]::-ms-track{width:var(--base-input__width);background:0 0;border-color:transparent;color:transparent}

::-webkit-slider-thumb{-webkit-appearance:none;appearance:none;border:var(--base-range__border);height:calc(var(--base-range__height)*2.5);width:calc(var(--base-range__height)*2.5);border-radius:50%;-webkit-box-shadow:var(--base-range__thumb-shadow);box-shadow:var(--base-range__thumb-shadow);background:var(--base-range__thumb-bg);margin-top:var(--base-range__webkit-margin-top)}

::-moz-range-thumb{border:var(--base-range__border);height:calc(var(--base-range__height)*2.5);width:calc(var(--base-range__height)*2.5);border-radius:50%;box-shadow:var(--base-range__thumb-shadow);background:var(--base-range__thumb-bg)}

::-ms-thumb{border:var(--base-range__border);height:calc(var(--base-range__height)*2.5);width:calc(var(--base-range__height)*2.5);border-radius:50%;box-shadow:var(--base-range__thumb-shadow);background:var(--base-range__thumb-bg)}

::-webkit-slider-runnable-track{height:var(--base-range__height);-webkit-box-shadow:var(--base-range__shadow);box-shadow:var(--base-range__shadow);background:var(--base-range__bg);border-radius:0}

[type=range]:focus::-webkit-slider-runnable-track{background:var(--base-range__bg--focused)}

::-moz-range-track{height:var(--base-range__height);box-shadow:var(--base-range__shadow);background:var(--base-range__bg);border-radius:0}

::-ms-track{height:var(--base-range__height);box-shadow:var(--base-range__shadow);background:0 0;border-color:transparent;color:transparent}

[type=range]::-ms-fill-lower{background:var(--base-range__bg);border-radius:0}

[type=range]::-ms-fill-upper{background:var(--base-range__bg);border-radius:0}

[type=range]:focus::-ms-fill-lower{background:var(--base-range__bg--focused)}

[type=range]:focus::-ms-fill-upper{background:var(--base-range__bg--focused)}

[role=button],[type=button],[type=reset],[type=submit],button{-webkit-appearance:button;-moz-appearance:button;appearance:button;display:inline-block;background-color:var(--base-button__bg);border-radius:0;border:var(--base-button__border);padding:var(--base-button__padding);height:var(--base-button__height)}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none}

[type=file]{height:var(--base-button__height)}

::-webkit-file-upload-button{-webkit-appearance:button;appearance:button;font:inherit;background-color:var(--base-button__bg);border-radius:0;border:var(--base-button__border);padding:var(--base-button__padding);height:var(--base-button__height)}

table{border-collapse:collapse;border-spacing:0;border:var(--base-table__border)}

td,th{border-bottom:var(--base-table__border);padding:var(--base-table__cell-padding);text-align:left}

th{border-top:var(--base-table__border);font-weight:700;vertical-align:bottom}

td{font-weight:400;vertical-align:top}

tr:nth-child(even){background-color:var(--base-table__even-cells-bg)}

details{display:block}

summary{display:list-item}

[hidden],template{display:none}

/*! typography.css | MIT License | brikcss  <https://github.com/brikcss> */

/** Define font styles.
    ============================================================================================= */

/* stylelint-disable max-nesting-depth */

/** Font defaults.
    ============================================================================================= */

/* stylelint-disable-next-line selector-max-type */

html {
	font-size: var(--base-rhythm, 8px);
}

body {
  color: var(--color__dark, hsla(0, 0%, 0%, 0.87));
  font-size: 16px;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.5px;
	font-family: 'Roboto', sans-serif;
	font-size: var(--base-font__size, 16px);
}

/** Font helper classes.
    ============================================================================================= */

.font__overline {
  font-size: 1.25rem;
  letter-spacing: 0.3rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.font__caption {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.06667rem;
}

.font__button {
  font-size: 1.75rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2rem;
  letter-spacing: 0.10714rem;
}

.font__body2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0.28571px;
}

.font__body {
  color: var(--color__dark, hsla(0, 0%, 0%, 0.87));
  font-size: 16px;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.5px;
}

.font__subtitle2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0.01429rem;
}

.font__subtitle {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.01875rem;
}

.font__h6 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0.015rem;
}

.font__h5 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
}

.font__h4 {
  font-size: 4.25rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0.01471rem;
}

.font__h3 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 6rem;
}

.font__h2 {
  font-size: 7.5rem;
  font-weight: 300;
  line-height: 8rem;
  letter-spacing: -0.01667rem;
}

.font__h1 {
  font-size: 12rem;
  font-weight: 300;
  line-height: 12rem;
  letter-spacing: -0.03125rem;
}

/*! colors.css | MIT License | brikcss  <https://github.com/brikcss> */

/** Variable and class generator.
    ============================================================================================= */

/* stylelint-disable property-no-unknown, color-named, color-no-hex, color-no-invalid-hex */

:root {
	/* Dark text. */
	--color__dark: hsla(0, 0%, 0%, 0.87);
	--color__dark1: hsla(0, 0%, 0%, 0.87);
	--color__dark2: hsla(0, 0%, 0%, 0.54);
	--color__dark3: hsla(0, 0%, 0%, 0.38);
	--color__dark4: hsla(0, 0%, 0%, 0.12);

	/* Light text. */
	--color__light: hsla(0, 0%, 100%, 1);
	--color__light1: hsla(0, 0%, 100%, 1);
	--color__light2: hsla(0, 0%, 100%, 0.7);
	--color__light3: hsla(0, 0%, 100%, 0.5);
	--color__light4: hsla(0, 0%, 100%, 0.12);

	/* Brand colors. */
	--color__brand1: hsl(194, 76%, 65%);
	--color__brand2: hsl(69, 67%, 51%);
	--color__brand3: hsl(36, 96%, 54%);
	--color__brand4: hsl(206, 7%, 45%);

	/* Other element colors. */
	--color__supernav: hsl(209, 24%, 30%);
	--color__supernav--dark: hsl(209, 24%, 22%);
	--color__supernav--icon: hsl(209, 11%, 65%);
	--color__gray: hsl(0, 0%, 90%);

	/* Classes to create from variables above. */
}

.color-dark {
		color: var(--color__dark);
	}

.color-dark1 {
		color: var(--color__dark1);
	}

.color-dark2 {
		color: var(--color__dark2);
	}

.color-dark3 {
		color: var(--color__dark3);
	}

.color-dark4 {
		color: var(--color__dark4);
	}

.color-light {
		color: var(--color__light);
	}

.color-light1 {
		color: var(--color__light1);
	}

.color-light2 {
		color: var(--color__light2);
	}

.color-light3 {
		color: var(--color__light3);
	}

.color-light4 {
		color: var(--color__light4);
	}

.bg-brand1 {
		background-color: var(--color__brand1);
		color: var(--color__light);
	}

.bg-brand2 {
		background-color: var(--color__brand2);
		color: var(--color__light);
	}

.bg-brand3 {
		background-color: var(--color__brand3);
		color: var(--color__light);
	}

.bg-brand4 {
		background-color: var(--color__brand4);
		color: var(--color__light);
	}

.bg-supernav {
		background-color: var(--color__supernav);
		color: var(--color__light);
	}

.bg-supernav--dark {
		background-color: var(--color__supernav--dark);
		color: var(--color__light);
	}

.bg-supernav--icon {
		background-color: var(--color__supernav--icon);
		color: var(--color__light);
	}

.bg-gray {
		background-color: var(--color__gray);
		fill: var(--color__gray);
		color: var(--color__dark);
	}

/* stylelint-enable property-no-unknown, color-named */

/*! spacing.css | MIT License | brikcss  <https://github.com/brikcss> */

/** Auto generated classes.
    ============================================================================================= */

/* stylelint-disable property-no-unknown */

.p-0 {
    padding: 0 !important
}

.pt-0 {
    padding-top: 0 !important
}

.pb-0 {
    padding-bottom: 0 !important
}

.pl-0 {
    padding-left: 0 !important
}

.pr-0 {
    padding-right: 0 !important
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.p-0-5 {
    padding: 0.5rem !important
}

.pt-0-5 {
    padding-top: 0.5rem !important
}

.pb-0-5 {
    padding-bottom: 0.5rem !important
}

.pl-0-5 {
    padding-left: 0.5rem !important
}

.pr-0-5 {
    padding-right: 0.5rem !important
}

.px-0-5 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important
}

.py-0-5 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important
}

.p-1 {
    padding: 1rem !important
}

.pt-1 {
    padding-top: 1rem !important
}

.pb-1 {
    padding-bottom: 1rem !important
}

.pl-1 {
    padding-left: 1rem !important
}

.pr-1 {
    padding-right: 1rem !important
}

.px-1 {
    padding-left: 1rem !important;
    padding-right: 1rem !important
}

.py-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}

.p-1-5 {
    padding: 1.5rem !important
}

.pt-1-5 {
    padding-top: 1.5rem !important
}

.pb-1-5 {
    padding-bottom: 1.5rem !important
}

.pl-1-5 {
    padding-left: 1.5rem !important
}

.pr-1-5 {
    padding-right: 1.5rem !important
}

.px-1-5 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important
}

.py-1-5 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
}

.p-2 {
    padding: 2rem !important
}

.pt-2 {
    padding-top: 2rem !important
}

.pb-2 {
    padding-bottom: 2rem !important
}

.pl-2 {
    padding-left: 2rem !important
}

.pr-2 {
    padding-right: 2rem !important
}

.px-2 {
    padding-left: 2rem !important;
    padding-right: 2rem !important
}

.py-2 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important
}

.p-3 {
    padding: 3rem !important
}

.pt-3 {
    padding-top: 3rem !important
}

.pb-3 {
    padding-bottom: 3rem !important
}

.pl-3 {
    padding-left: 3rem !important
}

.pr-3 {
    padding-right: 3rem !important
}

.px-3 {
    padding-left: 3rem !important;
    padding-right: 3rem !important
}

.py-3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
}

.p-4 {
    padding: 4rem !important
}

.pt-4 {
    padding-top: 4rem !important
}

.pb-4 {
    padding-bottom: 4rem !important
}

.pl-4 {
    padding-left: 4rem !important
}

.pr-4 {
    padding-right: 4rem !important
}

.px-4 {
    padding-left: 4rem !important;
    padding-right: 4rem !important
}

.py-4 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important
}

.m-0 {
    margin: 0 !important
}

.mt-0 {
    margin-top: 0 !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.ml-0 {
    margin-left: 0 !important
}

.mr-0 {
    margin-right: 0 !important
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

.m-0-5 {
    margin: 0.5rem !important
}

.mt-0-5 {
    margin-top: 0.5rem !important
}

.mb-0-5 {
    margin-bottom: 0.5rem !important
}

.ml-0-5 {
    margin-left: 0.5rem !important
}

.mr-0-5 {
    margin-right: 0.5rem !important
}

.mx-0-5 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important
}

.my-0-5 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important
}

.m-1 {
    margin: 1rem !important
}

.mt-1 {
    margin-top: 1rem !important
}

.mb-1 {
    margin-bottom: 1rem !important
}

.ml-1 {
    margin-left: 1rem !important
}

.mr-1 {
    margin-right: 1rem !important
}

.mx-1 {
    margin-left: 1rem !important;
    margin-right: 1rem !important
}

.my-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important
}

.m-1-5 {
    margin: 1.5rem !important
}

.mt-1-5 {
    margin-top: 1.5rem !important
}

.mb-1-5 {
    margin-bottom: 1.5rem !important
}

.ml-1-5 {
    margin-left: 1.5rem !important
}

.mr-1-5 {
    margin-right: 1.5rem !important
}

.mx-1-5 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important
}

.my-1-5 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important
}

.m-2 {
    margin: 2rem !important
}

.mt-2 {
    margin-top: 2rem !important
}

.mb-2 {
    margin-bottom: 2rem !important
}

.ml-2 {
    margin-left: 2rem !important
}

.mr-2 {
    margin-right: 2rem !important
}

.mx-2 {
    margin-left: 2rem !important;
    margin-right: 2rem !important
}

.my-2 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important
}

.m-3 {
    margin: 3rem !important
}

.mt-3 {
    margin-top: 3rem !important
}

.mb-3 {
    margin-bottom: 3rem !important
}

.ml-3 {
    margin-left: 3rem !important
}

.mr-3 {
    margin-right: 3rem !important
}

.mx-3 {
    margin-left: 3rem !important;
    margin-right: 3rem !important
}

.my-3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important
}

.m-4 {
    margin: 4rem !important
}

.mt-4 {
    margin-top: 4rem !important
}

.mb-4 {
    margin-bottom: 4rem !important
}

.ml-4 {
    margin-left: 4rem !important
}

.mr-4 {
    margin-right: 4rem !important
}

.mx-4 {
    margin-left: 4rem !important;
    margin-right: 4rem !important
}

.my-4 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important
}

/* stylelint-enable property-no-unknown */

/** Typography extension.
    ============================================================================================= */

/* stylelint-disable max-nesting-depth */

/* stylelint-enable max-nesting-depth */

.font__title1 {
  font-size: 4.25rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0.01471rem;
  font-weight: 300;
}

.font__title2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
}

.font__title3 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0.015rem;
}

/*! tabs-content.css | MIT License | brikcss  <https://github.com/brikcss> */

/* stylelint-disable-next-line selector-max-type, selector-type-no-unknown */

brik-tabs {
	display: block;
}

.brik-tabs__content {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: none;
	position: relative;
	width: 100%;
	padding: 4rem;
	overflow-x: hidden;
}

.brik-tabs__content:first-child {
	margin-left: 0;
}

.brik-tabs__content--active {
	display: block;
}

:root {
	--base-font__size: 14px;
}

/** ================================================================================================
 *  App layer.
 ** ---------- */

/* stylelint-disable-next-line selector-max-universal */

*:focus {
	outline-width: 0.25rem;
	outline-style: solid;
}

/* stylelint-disable-next-line selector-max-type, selector-pseudo-class-no-unknown */

ds-icon:not(:defined) {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 2rem;
	width: 2rem;
}

.markdown h1 {
  font-size: 4.25rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0.01471rem;
  font-weight: 300;
}

.markdown h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
}

.markdown h3 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0.015rem;
}

.markdown h4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.01875rem;
}

.markdown h5 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0.01429rem;
}

.markdown h6 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0.03571rem;
}

.heading__separator {
	border-bottom: 0.25rem solid hsla(0, 0%, 0%, 0.1);
	/* stylelint-disable-next-line declaration-property-unit-blacklist */
	padding-bottom: calc(1rem - 0.25rem);
}

/*# sourceMappingURL=app.css.map */