/** ------------------------------------------------------------------------------------------------
 *  @filename  _config.scss
 *  @author  brikcss  <https://github.com/brikcss>
 *  @description  SASS configuration for DS UI site.
 ** --------------------------------------------------------------------------------------------- */

// ----------------
// Vertical rhythm.
//
$rhythm__queries: (0: 8px);
$rhythm__line-height: 3rem;

// -------
// Colors.
//
$colors: (
	dark: hsla(0, 0%, 0%, 0.87),
	dark1: hsla(0, 0%, 0%, 0.87),
	dark2: hsla(0, 0%, 0%, 0.54),
	dark3: hsla(0, 0%, 0%, 0.38),
	dark4: hsla(0, 0%, 0%, 0.12),
	light: hsla(0, 0%, 100%, 1),
	light1: hsla(0, 0%, 100%, 1),
	light2: hsla(0, 0%, 100%, 0.7),
	light3: hsla(0, 0%, 100%, 0.5),
	light4: hsla(0, 0%, 100%, 0.12),
	supernav: hsl(209, 24%, 30%),
	supernav-icon: hsl(208, 11%, 65%),
	gray: hsl(0, 0%, 90%)
);
