<!DOCTYPE html>
<html data-ng-app="dsui">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>DirectScale UI Library - Front End Components with BrikCSS</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="./css/dsui-angularjs.css">
</head>
<body data-ng-controller="appCtrl as appCtrl">

	<div sidebars="app">
		
<aside class="supernav sidebars__left" data-ng-class="{'rhythm__grid': appCtrl.showRhythmGrid}">
	<div class="supernav__header">
		<img class="supernav__logo" src="./assets/images/logo__directscale.png" alt="DirectScale, a full-stack direct &amp; social selling software.">
	</div>

	<nav class="supernav__body">
								<div class="supernav__section">
									<a class="supernav__link" ui-sref="home">
						<span class="supernav__menu-icon zmdi zmdi-home"></span>
						<span class="supernav__menu-label">Home</span>
					</a>

			</div>
						<div class="supernav__section">
									<a class="supernav__link" ui-sref="getting-started">
						<span class="supernav__menu-icon zmdi zmdi-collection-item-1"></span>
						<span class="supernav__menu-label">Getting Started</span>
					</a>

			</div>
						<div class="supernav__section" show-hide="{id: 'About DS UI', hasToggle: true, addIcon: true, active: false}">
									<div class="supernav__link" show-hide-toggle="About DS UI">
						<span class="supernav__menu-icon zmdi zmdi-assignment"></span>
						<span class="supernav__menu-label">About DS UI</span>
					</div>
					<ul class="supernav__menu">
													<li>
								<a class="supernav__link" ui-sref="working-with-npm">Working with NPM</a>
							</li>
							<li>
								<a class="supernav__link" ui-sref="package-structure">Package Structure</a>
							</li>
							<li>
								<a class="supernav__link" ui-sref="including-assets">Including Assets</a>
							</li>

					</ul>

			</div>
						<div class="supernav__section" show-hide="{id: 'DS UI Core', hasToggle: true, addIcon: true, active: true}">
									<div class="supernav__link" show-hide-toggle="DS UI Core">
						<span class="supernav__menu-icon zmdi zmdi-balance"></span>
						<span class="supernav__menu-label">DS UI Core</span>
					</div>
					<ul class="supernav__menu">
													<li>
								<a class="supernav__link" ui-sref="browser-reset">Browser Reset</a>
							</li>
							<li>
								<a class="supernav__link" ui-sref="colors">Colors</a>
							</li>
							<li>
								<a class="supernav__link" ui-sref="typography">Typography</a>
							</li>
							<li>
								<a class="supernav__link" ui-sref="rhythm">Rhythm / Spacing</a>
							</li>

					</ul>

			</div>
						<div class="supernav__section" show-hide="{id: 'Components', hasToggle: true, addIcon: true, active: true}">
									<div class="supernav__link" show-hide-toggle="Components">
						<span class="supernav__menu-icon zmdi zmdi-widgets"></span>
						<span class="supernav__menu-label">Components</span>
					</div>
					<ul class="supernav__menu">
													<li>
								<a class="supernav__link" ui-sref="spinner">Spinner</a>
							</li>

					</ul>

			</div>
						<div class="supernav__section" show-hide="{id: 'Patterns', hasToggle: true, addIcon: true, active: false}">
									<div class="supernav__link" show-hide-toggle="Patterns">
						<span class="supernav__menu-icon zmdi zmdi-view-web"></span>
						<span class="supernav__menu-label">Patterns</span>
					</div>
					<ul class="supernav__menu">
													<li>
								<a class="supernav__link">Coming Soon</a>
							</li>

					</ul>

			</div>

	</nav>
</aside>


		<div class="sidebars__content page">
			<header class="header" data-ng-class="{'rhythm__grid': appCtrl.showRhythmGrid}">
	<button type="button" class="burger" data-ng-click="appCtrl.sidebars.toggle('left')" data-ng-class="{'--is-active': appCtrl.sidebars.left.active}"><span class="burger__toppings"></span></button>
	<h1 class="header__title font__title">
		{{$state.current.data.pageTitle}}
		<span class="header__version" data-ng-if="$state.current.data.version" data-ng-bind="'v' + $state.current.data.version"></span>
	</h1>
	<div class="header__toolbar"><button class="header__button font__button" ng-click="appCtrl.showRhythmGrid = !appCtrl.showRhythmGrid" type="button">Rhythm</button></div>
</header>


			<main class="page__scroller">
				<div>{{appCtrl.pageTitle}}</div>
				<!-- @todo: Support content level sidebars? -->
				<!-- <aside class="sidebar--left"></aside> -->

				<div class="page__content" data-ng-class="{'rhythm__grid': appCtrl.showRhythmGrid}" ui-view="content"></div>

				<!-- @todo: Support content level sidebars? -->
				<!-- <aside class="sidebar--right"></aside> -->
				<footer class="footer" data-ng-class="{'rhythm__grid': appCtrl.showRhythmGrid}">Copyright &copy; 2018 DirectScale</footer>

			</main>

		</div>

		<aside class="rightbar sidebars__right">
	Right sidebar.
</aside>


		<div class="sidebar__overlay"></div>
	</div>

	<script src="js/app.js"></script>
</body>
</html>
