/* stylelint-disable selector-max-type */
/**
 *  Sidebars wrapper.
 */
:host {
	--sidebar-left-bg: hsl(0, 0%, 100%);
	--sidebar-left-width: 30rem;
	--sidebar-left-push: 30rem;
	--sidebar-right-bg: hsl(0, 0%, 100%);
	--sidebar-right-width: 30rem;
	--sidebar-right-push: 0;
	display: flex;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

/**
 *  Sidebar content.
 */
.brik-page__content {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100vh;
	width: 100%;
	transform: translate3d(0, 0, 0);
	transition: transform 350ms cubic-bezier(0.6, 0, 0.2, 1.2);
}

:host([sidebar-active='left']) .brik-page__content {
	transform: translate3d(var(--sidebar-left-push), 0, 0);
}

:host([sidebar-active='right']) .brik-page__content {
	transform: translate3d(calc(-1 * var(--sidebar-right-push)), 0, 0);
}

/**
 *  Sidebar.
 */
.brik-sidebar__left,
.brik-sidebar__right {
	height: 100vh;
	position: relative;
	will-change: transform, box-shadow;
	transform: translate3d(0, 0, 0);
	transition-property: transform, box-shadow;
	transition-duration: 350ms;
	transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1.2);
	z-index: 10;
}

.brik-sidebar__left {
	background-color: var(--sidebar-left-bg);
	min-width: var(--sidebar-left-width);
	margin-left: calc(-1 * var(--sidebar-left-width));
}

.brik-sidebar__left:before,
.brik-sidebar__right:before {
	content: '';
	background-color: inherit;
	position: absolute;
	top: 0;
	bottom: 0;
	/* stylelint-disable-next-line declaration-property-unit-whitelist */
	width: 40px;
}

.brik-sidebar__left:before {
	left: -40px;
}

.brik-sidebar__right {
	background-color: var(--sidebar-right-bg);
	min-width: var(--sidebar-right-width);
	margin-right: calc(-1 * var(--sidebar-left-width));
}

.brik-sidebar__right:before {
	right: -40px;
}

:host([sidebar-active='left']) .brik-sidebar__left,
:host([sidebar-active='right']) .brik-sidebar__right {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.18), 0 6px 9px 0 rgba(0, 0, 0, 0.13),
		0 3px 11px 1px rgba(0, 0, 0, 0.11);
}

:host([sidebar-active='left']) .brik-sidebar__left {
	transform: translate3d(calc(var(--sidebar-left-width)), 0, 0);
}

:host([sidebar-active='left']) .brik-sidebar__right {
	transform: translate3d(calc(var(--sidebar-right-push)), 0, 0);
}

:host([sidebar-active='right']) .brik-sidebar__right {
	transform: translate3d(calc(-1 * var(--sidebar-right-width)), 0, 0);
}

:host([sidebar-active='right']) .brik-sidebar__left {
	transform: translate3d(calc(-1 * var(--sidebar-left-push)), 0, 0);
}

/**
 *  Sidebar overlay.
 */
.brik-page__overlay {
	background-color: transparent;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	transition: background-color 350ms, z-index 0ms 350ms;
}

:host([sidebar-active='left']) .brik-page__overlay,
:host([sidebar-active='right']) .brik-page__overlay {
	background-color: hsla(0, 0%, 0%, 0.5);
	z-index: 9;
	transition: background-color 350ms, z-index 0ms 0ms;
}
