/** ------------------------------------------------------------------------------------------------
 *  elevation.abstract.scss
 *  -----------------------
 *  @author  brikcss  <https://github.com/brikcss>
 *  @description  Elevation helpers.
 ** --------------------------------------------------------------------------------------------- */

/**
 *  Elevation drop shadow.
 *
 *  @param   {number}  $level:  1  Elevation level.
 *  @param   {number}  $opacity-multiplier:  1  Opacity multiplier.
 */
@mixin shadow($level: 1, $opacity-multiplier: 1) {
	$opacity1: 0.18;
	$opacity2: 0.13;
	$opacity3: 0.11;
	// stylelint-disable
	box-shadow: 0 ceil(0.5px * $level) (2px + round(0.5px * $level)) ceil(-0.3px * $level) rgba(0, 0, 0, 0.18 *
					$opacity-multiplier),
		0 ceil(1px * $level) floor(1.5px * $level) floor(0.125px * $level)
			rgba(0, 0, 0, 0.13 * $opacity-multiplier),
		0 (1px + round(0.3px * $level)) round(1.9px * $level) (-1px + round(0.3px * $level))
			rgba(0, 0, 0, 0.11 * $opacity-multiplier);
	// stylelint-enable
}

/**
 *  Apply z-index.
 *
 *  @param   {number}  $level:  1  Elevation level.
 *  @param   {number}  $zindex-modifier:  0  Modifies final z-index number.
 */
@mixin zindex($level: 1, $zindex-modifier: 0) {
	z-index: ($level * 10) + $zindex-modifier;
}

/**
 *  Elevate. Applies both drop shadow and z-index mixins.
 *
 *  @param   {number}  $level:  1  Elevation level.
 *  @param   {number}  $zindex-modifier:  0  Modifies final z-index number.
 *  @param   {number}  $opacity-multiplier:  1  Opacity multiplier.
 */
@mixin elevate($level: 1, $zindex-modifier: 0, $opacity-multiplier: 1) {
	@include shadow($level, $opacity-multiplier);
	@include zindex($level, $zindex-modifier);
}
