/** ------------------------------------------------------------------------------------------------
 *  @filename  _typography.init.scss
 *  @author  brikcss  <https://github.com/brikcss>
 *  @description  Typography init.
 ** --------------------------------------------------------------------------------------------- */

@if ($font__init == true) {
	@include base-fonts();

	@if ($font__init-classes == true) {
		@include font-classes();
	}

	@if $font__line-lengths != false and length($font__line-lengths) > 0 {
		@include font-line-lengths();
	}
}
