/*! tabs-content.css | MIT License | brikcss  <https://github.com/brikcss> */

/* stylelint-disable-next-line selector-max-type, selector-type-no-unknown */
brik-tabs {
	display: block;
}

.brik-tabs__content {
	box-sizing: border-box;
	display: none;
	position: relative;
	width: 100%;
	min-width: 100%;
	padding: 4rem;
}
.brik-tabs__content:first-child {
	margin-left: 0;
}
.brik-tabs__content--active {
	display: block;
}
