/** ------------------------------------------------------------------------------------------------
 *  @filename  burger-button.init.scss
 *  @author  brikcss  <https://github.com/brikcss>
 *  @description  Burger button init.
 ** --------------------------------------------------------------------------------------------- */

@if $burger-init == true {
	.#{$burger__base} {
		@include burger();

		// @todo  Move this to the burger mixin.
		$hide-burger-at: 1080px;
		@media (min-width: $hide-burger-at) {
			display: none;
		}
	}
}
