/** ------------------------------------------------------------------------------------------------
 *  burger-button.scss
 *  ------------------
 *  @author  brikcss  <https://github.com/brikcss>
 *  @description  Burger button abstracts.
 *  @todo  Add media query for $burger-hide-at value.
 ** --------------------------------------------------------------------------------------------- */

$burger-init: true !default;
// stylelint-disable-next-line unit-blacklist
$burger-hide-at: 768px !default;
$burger__base: burger !default;
$burger__size: 0.7rem !default;
$burger__color: if(function-exists(c), c(light), hsla(0, 0%, 100%, 1)) !default;
$burger__line-spacing: 1.4 !default;

/** Burger mixin. */
@mixin burger($size: $burger__size, $color: $burger__color, $spacing: $burger__line-spacing, $line-size: $size / 8) {
	height: $size;
	width: $size;
	margin-right: 0.5rem;
	cursor: pointer;
	position: relative;

	&:before {
		position: absolute;
		background-color: $color;
		width: $size;
		height: $line-size;
		top: calc(50% - #{$line-size / 2} - #{$line-size * ($spacing + 1)});
		content: '';
		display: block;
		transition: all 300ms cubic-bezier(0.3, 0.2, 0.2, 1.3);
	}

	&:after {
		position: absolute;
		background-color: $color;
		width: $size;
		height: $line-size;
		bottom: calc(50% - #{$line-size / 2} - #{$line-size * ($spacing + 1)});
		content: '';
		display: block;
		transition: all 300ms cubic-bezier(0.3, 0.2, 0.2, 1.3);
	}

	&.--is-active {
		transform: rotate(360deg);

		&:before {
			transform: rotate(135deg);
			top: calc(50% - #{$line-size / 2});
		}

		&:after {
			transform: rotate(-135deg);
			bottom: calc(50% - #{$line-size / 2});
		}
	}

	&__toppings {
		position: absolute;
		background-color: $color;
		width: 100%;
		height: $line-size;
		top: calc(50% - #{$size / 16});
		right: 0;
		opacity: 1;
		transition: transform 300ms cubic-bezier(0.3, 0.2, 0.2, 1.3);

		// stylelint-disable-next-line selector-max-type
		.--is-active & {
			transform: scaleX(0);
		}
	}
}
