:host-context([active='left']) {
	display: none;
}

.button {
	--burger-size: 3rem;
	--burger-bg: hsla(0, 0%, 100%, 1);
	--burger-line-spacing: 1.4;
	--burger-line-size: 0.375rem;
	background-color: transparent;
	border: none;
	height: var(--burger-size);
	width: var(--burger-size);
	cursor: pointer;
	position: relative;
}

.top,
.bottom {
	background-color: var(--burger-bg);
	display: block;
	height: var(--burger-line-size);
	width: var(--burger-size);
	position: absolute;
	left: 0;
	transition: all 200ms cubic-bezier(0.6, 0, 0.2, 1.2);
}

.top {
	will-change: transform, top;
	top: calc(
		50% - (var(--burger-line-size) / 2) -
			(
				var(--burger-line-size) * (var(--burger-line-spacing) + 1)
			)
	);
}

.bottom {
	will-change: transform, bottom;
	bottom: calc(
		50% - (var(--burger-line-size) / 2) -
			(
				var(--burger-line-size) * (var(--burger-line-spacing) + 1)
			)
	);
}

.toppings {
	position: absolute;
	background-color: var(--burger-bg);
	width: 100%;
	height: var(--burger-line-size);
	top: calc(50% - (var(--burger-line-size) / 2));
	right: 0;
	opacity: 1;
	will-change: transform;
	transition: transform 300ms cubic-bezier(0.6, 0, 0.2, 1.2);
}

:host([active='true']) {
	transform: rotate(360deg);
}

:host([active='true']) .top {
	transform: rotate(135deg);
	top: calc(50% - (var(--burger-line-size) / 2));
}

:host([active='true']) .bottom {
	transform: rotate(-135deg);
	bottom: calc(50% - (var(--burger-line-size) / 2));
}

:host([active='true']) .toppings {
	transform: scaleX(0);
}
