<tabs class="page-tabs" active-tab="pageCtrl.activePageTab" tabs="{about: 'about', install: 'Install &amp; Setup', usage: 'Usage', examples: 'Examples'}">
	<div>
		<%- include partials/_intro.html.ejs %>

		<h2 class="font__headline">Guidelines</h2>

		<h3 class="font__title heading__separator">Roboto font face</h3>
		<p><strong>Roboto</strong> is the <em>only</em> font family that should be used. Any exceptions require UX approval.</p>

		<h3 class="font__title heading__separator">Only use approved font styles</h3>
		<p><em>Only use approved font styles.</em> Any exceptions require UX approval and should be added to this list. <a href="https://material.io/guidelines/style/typography.html">Refer to Material Design</a> for specific scenarios and use cases to apply each style; otherwise use them at your own discretion.</p>
		<p>UX approved font styles (see Usage section for how to apply them):</p>
		<p class="font__caption">Caption (12sp/inherited)</p>
		<p class="font__button">Button (14sp/inherited)</p>
		<p class="font__body">Body (14sp/24dp) (default)</p>
		<p class="font__subheading">Subheading (16sp/24dp)</p>
		<p class="font__title">Title (20sp/28dp)</p>
		<p class="font__headline">Headline (24sp/32dp)</p>
		<p class="font__display1">Display 1 (34sp/40dp)</p>
		<p class="font__display2">Display 2 (45sp/48dp)</p>
		<p class="font__display3">Display 3 (56sp/64dp)</p>
		<p class="font__display4">Display 4 (112sp/112dp)</p>
		<p class="font__caption"><em>Note: First number represents font-size, second number represents leading / line-height.</em></p>

		<h3 class="font__title heading__separator">Limit line length for readability</h3>
		<p>For best readability, lines of text should be no longer than ~60 characters. Shorter lines of text should wrap at ~30 characters or less.</p>

		<h3 class="font__title heading__separator">Approved text colors</h3>
		<p><a ui-sref="colors">Refer to the Colors component</a> for applying text colors.</p>

		<h3 class="font__title heading__separator">Additional guidelines</h3>
		<p><a href="https://material.io/guidelines/style/typography.html" title="Typography specs for Material Design"><abbr title="Material Design">MD</abbr> typography specs</a> are an extension of DS UI, and should be referred to for further guidance.</p>
	</div>

	<div>
		<%- include partials/_install.html.ejs %>
	</div>

	<div>
		<h2 class="font__headline">Usage</h2>
		<ul class="bullets">
			<li>
				<p><em>Do:</em> use the predefined classes and helpers to apply font styles.</p>
				<p><em>Don't:</em> apply any CSS font properties on your own.</p>
			</li>
			<li>
				<p><em>Avoid:</em> appyling nested font styles. However, when it is necessary to apply a font style to a child element whose parent has a different style applied, you must apply one of the "font reset" methods below.</p>
				<p><em>Why?</em> DS UI Typography uses <code>em</code>s <a href="https://css-tricks.com/why-ems/" title="Why ems?">to handle responsive typography</a>. <code>1em</code> is <a href="https://www.impressivewebs.com/understanding-em-units-css/" title="Definition of one em unit.">equal to the <strong>computed value</strong> of the <code>font-size</code> property of the element on which its used</a>. This means children elements inherit the computed font size value of its first parent which already has font size defined. If we don't reset the font size in these cases using one of the methods below, the computed <code>font-size</code> will not be correct.</p>
			</li>
		</ul>

		<h3 class="font__title heading__separator">How to apply a font style</h3>
		<p>(HTML) Add a font class:</p>
		<editor lang="html">
			<pre>&lt;h2 class="font__title"&gt;My awesome font in "title" style.&lt;/h2&gt;</pre>
		</editor>
		<p>(SASS) Use the <code>font</code> mixin:</p>
		<editor lang="scss,css:result">
			<pre>.my-headline {
	@include font(headline);
}</pre>
			<pre>.my-headline {
	/* This is the computed font-size value; will be applied in ems. */
	font-size: 24px;
	line-height: 1.5rem;
}</pre>
		</editor>

		<h3 class="font__title heading__separator">How to apply a font style to nested elements</h3>
		<p>When an element's parent already has a font style applied, applying a font style to the element will likely make its <code>font-size</code> incorrect. To "reset" the element's font size, do one of the following:</p>
		<ol class="numbers">
			<li>
				<p>HTML: Add the <code>.font__reset</code> or <code>.font__reset-size</code> class:</p>
				<editor lang="html">
					<pre>&lt;div class="font__subheading"&gt;
	&lt;p&gt;My subheading paragraph text...&lt;/p&gt;
	&lt;div class="font__reset"&gt;
		&lt;p&gt;More paragraph text, but I am "reset" to normal body text...&lt;/p&gt;
		&lt;h2 class="font__title"&gt;I am title text... just the right size&lt;/h2&gt;
	&lt;/div&gt;
&lt;div&gt;</pre>
				</editor>
			</li>
			<li>
				<p>SASS: Add a flag in the <code>font</code> mixin:</p>
				<editor lang="scss,html">
					<pre>.parent {
	@include font(subheading);
}

.child {
	@include font(body, true);
}</pre>
					<pre>&lt;div class="parent"&gt;
	&lt;p&gt;My subheading paragraph text...&lt;/p&gt;
	&lt;div class="child"&gt;
		&lt;p&gt;More paragraph text, but I am "reset" to normal body text...&lt;/p&gt;
		&lt;h2 class="font__title"&gt;I am title text... just the right size&lt;/h2&gt;
	&lt;/div&gt;
&lt;div&gt;</pre>
				</editor>
			</li>
		</ol>
	</div>

	<div>
		<h2 class="font__headline">HTML Classes</h2>
		<h3 class="font__title heading__separator">Font Style Classes</h3>

		<h4 class="font__subheading"><code>.font__caption</code> Caption font style</h4>
		<p class="sp__0"><em>When to use?</em> Captions. Legal text. Use sparingly.</p>
		<editor lang="html" editable="true" live-preview="true">
			<pre>&lt;p class="font__caption">Caption: Regular 12sp&lt;/p></pre>
		</editor>

		<h4 class="font__subheading"><code>.font__button</code> Button font style</h4>
		<p class="sp__0"><em>When to use?</em> Buttons. Tabs.</p>
		<editor lang="html" editable="true" live-preview="true">
			<pre>&lt;p class="font__button">Button: MEDIUM (ALL CAPS) 14sp&lt;/p></pre>
		</editor>

		<h4 class="font__subheading"><code>.font__body</code> Body font style</h4>
		<p class="sp__0"><em>When to use?</em> This is the font style applied to the <code>body</code> tag by default.</p>
		<editor lang="html" editable="true" live-preview="true">
			<pre>&lt;p class="font__body">Body: Regular 14sp&lt;/p></pre>
		</editor>

		<h4 class="font__subheading"><code>.font__bold</code> Bold font style</h4>
		<p class="sp__0"><em>When to use?</em> Bold text. Text with emphasis. Ask UX for specific use cases.</p>
		<editor lang="html" editable="true" live-preview="true">
			<pre>&lt;p class="font__bold">Bold: Medium 14sp&lt;/p></pre>
		</editor>

		<h4 class="font__subheading"><code>.font__subheading</code> Subheading font style</h4>
		<p class="sp__0"><em>When to use?</em> Subheadings, such as widget section subheadings (see Marketing Sites widget, Community widget).</p>
		<editor lang="html" editable="true" live-preview="true">
			<pre>&lt;p class="font__subheading">Subheading: Regular 16sp&lt;/p></pre>
		</editor>

		<h4 class="font__subheading"><code>.font__title</code> Title font style</h4>
		<p class="sp__0"><em>When to use?</em> App bar (header) title. Widget title when not in a header (see Social Networking widget). Rank titles (see rank titles in Rank Information widget).</p>
		<editor lang="html" editable="true" live-preview="true">
			<pre>&lt;p class="font__title">Title: Medium 20sp&lt;/p></pre>
		</editor>

		<h4 class="font__subheading"><code>.font__headline</code> Headline font style</h4>
		<p class="sp__0"><em>When to use?</em> Widget header title.</p>
		<editor lang="html" editable="true" live-preview="true">
			<pre>&lt;p class="font__headline">Headline: Regular 24sp&lt;/p></pre>
		</editor>

		<h4 class="font__subheading"><code>.font__display1</code> Display 1 font style</h4>
		<p class="sp__0"><em>When to use?</em> Use sparingly, with caution, when needing to call out large text.</p>
		<editor lang="html" editable="true" live-preview="true">
			<pre>&lt;p class="font__display1">Display 1: Regular 34sp&lt;/p></pre>
		</editor>

		<h4 class="font__subheading"><code>.font__display2</code> Display 2 font style</h4>
		<p class="sp__0"><em>When to use?</em> Avoid use. Get UX approval for use cases.</p>
		<editor lang="html" editable="true" live-preview="true">
			<pre>&lt;p class="font__display2">Display 2: Regular 45sp&lt;/p></pre>
		</editor>

		<h4 class="font__subheading"><code>.font__display3</code> Display 3 font style</h4>
		<p class="sp__0"><em>When to use?</em> Avoid use. Get UX approval for use cases.</p>
		<editor lang="html" editable="true" live-preview="true">
			<pre>&lt;p class="font__display3">Display 3: Regular 56sp&lt;/p></pre>
		</editor>

		<h4 class="font__subheading"><code>.font__display4</code> Display 4 font style</h4>
		<p class="sp__0"><em>When to use?</em> Avoid use. Get UX approval for use cases.</p>
		<editor lang="html" editable="true" live-preview="true">
			<pre>&lt;p class="font__display4">Display 4: Light 112sp&lt;/p></pre>
		</editor>

		<h3 class="font__title heading__separator">Text body length classes</h3>

		<p class="font__bold"><code>.font__short-line</code></p>
		<p class="sp__0 font__short-line"><em>When to use?</em> For short lines of text, to restrict its length to ~30 characters.</p>
		<editor lang="html" editable="true" live-preview="true">
			<pre>&lt;p class="font__short-line">&lt;em>When to use?&lt;/em> For short lines of text (like this line), to restrict its length to ~30 characters.&lt;/p></pre>
		</editor>

		<h2 class="font__headline">SASS Helpers</h2>
		<p class="text__short">In addition to the HTML classes above, SASS helpers are available for more control.</p>

		<h3 class="font__title"><code>sp($name)</code> function</h3>
		<p class="text__short">This function applies a <code>font-size</code> for a predefined font style to any element. <strong>This function should replace using font units (<code>px</code>, etc.) anywhere in your app code.</strong> For example:</p>
		<editor lang="scss,css">
			<pre>.my-custom-selector {
			font-size: sp('subheading');
		}</pre>
			<pre>.my-custom-selector {
			/* Assuming a base font size of 14px, the compiled result will be: */
			font-size: 1.14286em;
		}</pre>
		</editor>

		<h3 class="font__title"><code>@include font($style)</code> mixin</h3>
		<p>This mixin applies a predefined font style to a selector.</p>
		<editor lang="scss,css">
			<pre>.my-custom-selector {
			@include font('display');
		}</pre>
			<pre>.my-custom-selector {
			/* Assuming a base font size of 14px, the compiled result will be: */
			font-size: 2.42857em;
			line-height: 1.5rem;
			color: hsla(0, 0%, 0%, 0.54));
		}</pre>
		</editor>
	</div>
</tabs>
