<tabs class="page-tabs" active-tab="pageCtrl.activePageTab" tabs="{about: 'about', install: 'Install &amp; Setup', usage: 'Usage', advanced: 'Advanced'}">
	<div>
		<div class="dsui-page__intro">
			<div class="dsui-page__about">
				<p>Vertical Rhythm is <a href="https://www.creativebloq.com/how-to/the-rules-of-responsive-web-typography">a principle of good typography</a> which fosters <a href="https://zellwk.com/blog/why-vertical-rhythms/">repetation and familiarity</a>, and creates a layout that is more <a href="https://blog.alexdevero.com/6-simple-secrets-perfect-web-typography/#no5-focus-on-vertical-rhythm">balanced, beautiful, and readable</a>. DS UI's Vertical Rhythm provides an easy way to apply and manage vertical rhythm in any app.</p>
				<p>To see an example of what vertical rhythm is: <button class="<%= data.baseClass %>__button font__button" ng-click="appCtrl.showVerticalGrid = !appCtrl.showVerticalGrid" type="button">Toggle Vertical Rhythm grid</button></p>
				<p>Notice how <em>everything</em> has consistent dimensions and spacing: font, line height, element heights, margins, padding, and so forth. Even elements which are completely disconnected from each other are "in rhythm". That's Vertical Rhythm.</p>
			</div>

			<div class="dsui-page__related">
				<h2 class="font__title">Related</h2>
				<ul class="bullets">
					<li><a ui-sref="typography">Typography</a></li>
					<li><a ui-sref="spacing">Spacing</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div>
		<h2 class="font__headline">Install</h2>
		<p>It is strongly encouraged to install vertical rhythm with DS UI Core:</p>

		<editor lang="bash">
			<pre>npm install @directscale/core --save-dev</pre>
		</editor>

		<p>You may install vertical rhythm on its own:</p>

		<editor lang="bash">
			<pre>npm install @directscale/rhythm --save-dev</pre>
		</editor>

		<h2 class="font__headline">Setup</h2>
		<ol class="numbers">
			<li>Include <code>_rhythm.abstract.scss</code> in your SASS build.</li>
			<li>Initialize vertical rhythm styles by doing one of the following:<ul class="bullets">
				<li><em>Basic</em>: Include <code>_rhythm.init.scss</code> into your SASS build.</li>
				<li><em>Advanced</em>: For greater customization, use <code>_rhythm.init.scss</code> as an example to initialize vertical rhythm on your own.</li>
			</ul></li>
		</ol>
	</div>

	<div>
		<h2 class="font__headline">Basic Usage</h2>
		<h3 class="font__title">Definitions:</h3>
		<dl>
			<dt>Dimensional properties</dt>
			<dd>CSS properties which apply <code>height</code>, <code>width</code>, <code>margin</code>, <code>padding</code>, <code>line-height</code>, <code>border</code>, or any other property which affects layout dimensions.</dd>
			<dt>1rem</dt>
			<dd>One (1) line in the vertical rhythm grid.</dd>
		</dl>

		<h3 class="font__title">Rhythm Rules</h3>
		<p>In order to keep the vertical grid "in rhythm", it is important to strictly follow these rules:</p>
		<ol class="numbers">
			<li><strong>Always</strong> use <code>rem</code> units to apply <em>dimensional properties</em>.</li>
			<li>Apply <code>rem</code> values, if at all possible, in whole numbers. As necessary, <code>rem</code> values may also be applied in halves (x.5rem), or <em>in rare cases</em> in quarters (x.25rem, x.75rem). It is strongly discouraged to avoid any other fractional <code>rem</code> value since it will break the vertical rhythm.</li>
			<li>There may be rare cases where it's necessary to break the rhythm. Perhaps an element needs a <code>1px</code> border, or an image needs a specific height in <code>pixels</code>. In such cases, follow these guidelines:<ul class="bullets">
				<li>Ask yourself, <em>is this really necessary</em>? If at all possible, avoid breaking the vertical grid.</li>
				<li>
					<p>If you must temporarily break the rhythm, follow this rule to bring the grid back in rhythm:</p>
					<p>
						<blockquote>
							<strong>The sum of all dimensional property values for a given element, converted to <code>rems</code>, must be an integer.</strong>
						</blockquote>
					</p>
				</li>
				<li>
					<p>A couple of examples to illustrate:</p>
					<editor lang="scss">
						<pre>// This pixel border may throw the vertical
// rhythm off by 2px (1px for border-top and
// border-bottom). Using the calc() function to
// readjust another vertical dimension by 2px
// will put the grid back in rhythm.
.pixel-border {
	border: 1px solid hsl(0, 0, 80%);
	height: calc(3rem - 2px);
}

// Let's assume this image must be 300px, and
// that our vertical rhythm (one vertical line)
// is set to 32px.
// A height of 300px = 9.375rem + (0.3125rem * 2)
// equals 10rem. With a 300px tall image, we're
// still "in rhythm"!
.pixel-image {
	height: 300px;
	margin-bottom: 0.3125rem;
	margin-top: 0.3125rem;
}</pre>
					</editor>
					<p></p>
				</li>
			</ul></li>
		</ol>
	</div>

	<div>
		<h2 class="font__headline">Advanced Usage</h2>
		<p>There are more advanced features, but documentation in the works. Feel free to check out the source code in <code>_typography.abstract.scss</code>. If you have a specific use case you need help implementing, <a href="#">let the DS UI / platform team know</a>.</p>
	</div>
</tabs>
