<div class="dsui-page__intro">
	<% if (page.intro) { %><div class="dsui-page__about">
		<% if (page.name) { %><h2 class="font__title2 mt-0"><%= page.name %></h2><% } %>
		<%- page.intro %>
	</div><% } %>

	<% if (page.related) { %><div class="dsui-page__related">
		<h2 class="font__title2 mt-0">Related</h2>
		<ul class="bullets dsui-page__related-links">
			<% page.related.forEach(link => { %>
				<li><a href="#!/<%= link.path %>"><%= link.name %></a></li>
			<% }); %>
		</ul>
	</div><% } %>
</div>
