<div class="${this.css.classes.header}">
	<div class="${this.css.classes.left}">
		<brik-burger-button class="${this.css.classes.burger}" sidebar="left"></brik-burger-button>
		<div class="${this.css.classes.title}">${this.wire()`${[this.props.title]}`}</div>
	</div>

	<div slot="content" class="${this.css.classes.content}">
		<a href="${this.pageEditLink || 'https://github.com/brikcss/dsui-library-site'}" title="Edit this page." target="_blank"><brik-icon name="square-edit-outline" fill="hsl(0, 0%, 100%)" size="4rem"></brik-icon></a>
	</div>
</div>

${this.css ? [`<style type="text/css">${this.css.toString()}</style>`] : ''}
