<%
var nav = [{
	label: 'Home',
	sref: 'home',
	icon: 'zmdi-home'
}, {
	label: 'Getting Started',
	sref: 'getting-started',
	icon: 'zmdi-collection-item-1'
}, {
	label: 'About DS UI',
	icon: 'zmdi-assignment',
	links: [{
		label: 'Working with NPM',
		sref: 'working-with-npm'
		}, {
		label: 'Package Structure',
		sref: 'package-structure'
	}, {
		label: 'Including Assets',
		sref: 'including-assets'
	}]
}, {
	label: 'DS UI Core',
	icon: 'zmdi-balance',
	active: true,
	links: [{
			label: 'Browser Reset',
			sref: 'browser-reset'
		}, {
			label: 'Colors',
			sref: 'colors'
		}, {
			label: 'Typography',
			sref: 'typography'
		}, {
			label: 'Rhythm / Spacing',
			sref: 'rhythm'
		}]
}, {
	label: 'Components',
	icon: 'zmdi-widgets',
	active: true,
	links: [{label: 'Spinner', sref: 'spinner'}, {label: 'Icons', sref: 'icons'}]
}, {
	label: 'Patterns',
	icon: 'zmdi-view-web',
	links: [{label: 'Coming Soon'}]
}];
%>
<aside class="<%= data.baseClass %> sidebars__left" data-ng-class="{'rhythm__grid': appCtrl.showRhythmGrid}">
	<div class="<%= data.baseClass %>__header">
		<img class="<%= data.baseClass %>__logo" src="./assets/images/logo__directscale.png" alt="DirectScale, a full-stack direct &amp; social selling software.">
	</div>

	<nav class="<%= data.baseClass %>__body">
		<% nav.forEach(section => { _%>
			<% const hasLinks = section.links && section.links.length; _%>
			<div class="<%= data.baseClass %>__section"<% if (hasLinks) { %> show-hide="{id: '<%= section.label %>', hasToggle: true, addIcon: true, active: <%= Boolean(section.active) %>}"<% } %>>
				<% if (hasLinks) { _%>
					<div class="<%= data.baseClass %>__link" show-hide-toggle="<%= section.label %>">
						<span class="<%= data.baseClass %>__menu-icon zmdi <%= section.icon %>"></span>
						<span class="<%= data.baseClass %>__menu-label"><%= section.label %></span>
					</div>
					<ul class="<%= data.baseClass %>__menu">
						<% section.links.forEach(link => { _%>
							<li>
								<a class="<%= data.baseClass %>__link"<% if (link.sref) { %> ui-sref="<%= link.sref %>"<% } %>><%= link.label %></a>
							</li>
						<%_ }); %>
					</ul>
				<%_ } else { _%>
					<a class="<%= data.baseClass %>__link" ui-sref="<%= section.sref %>">
						<span class="<%= data.baseClass %>__menu-icon zmdi <%= section.icon %>"></span>
						<span class="<%= data.baseClass %>__menu-label"><%= section.label %></span>
					</a>
				<%_ } %>
			</div>
		<%_ }); %>
	</nav>
</aside>
