<tabs class="page-tabs" active-tab="pageCtrl.activePageTab" tabs="{about: 'About', install: 'Install &amp; Setup'}">
	<div>
		<%- include ../partials/_intro.html.ejs %>
	</div>

	<div>
		<%- include ../partials/_install.html.ejs %>
	</div>
</tabs>
