<brik-tabs class="page-tabs" tabs="about:About, install:Install &amp; Setup">
	<div>
		<%- include ../partials/_intro.html.ejs %>
	</div>

	<div>
		<%- include ../partials/_install.html.ejs %>
	</div>
</brik-tabs>
