<brik-tabs class="page-tabs" tabs="about:about, install:Install &amp; Setup, usage:Usage, examples:Examples">
	<div>
		<%- include ../partials/_intro.html.ejs %>

		<h2 class="font__title2">Guidelines</h2>

		<h3 class="font__title3 heading__separator">Definitions</h3>
		<dl>
			<dt>Dimensional properties</dt>
			<dd>Any CSS property which affects an element's dimensions and/or spacing, including but not limited to: <code>height</code>, <code>width</code>, <code>margin</code>, <code>padding</code>, <code>line-height</code>, <code>border</code>.</dd>
			<dt>1rem</dt>
			<dd>Height/width of one (1) square in the rhythm grid.</dd>
		</dl>

		<h3 class="font__title3 heading__separator">Use <code>rems</code> for all dimensional properties</h3>
		<p>DS UI uses <a href="https://www.sitepoint.com/understanding-and-using-rem-units-in-css/" title="Understanding rem units in CSS">CSS <code>rem</code> units</a> to apply rhythm and spacing. <em>Follow the "rules of Rhythm" below when applying <code>rems</code>.</em></p>

		<h3 class="font__title3 heading__separator">Strictly follow the "Rules of Rhythm"</h3>
		<p>In DS UI, <code>1rem</code> unit is equivalent to <code>8px</code>, which follows <a href="https://material.io/guidelines/layout/metrics-keylines.html" title="Material Design spacing grid">MD specifications for grid layout and spacing</a>. In order to keep the grid "in rhythm", strictly follow the "Rules of Rhythm" in the Usage section.</p>
	</div>

	<div>
		<%- include ../partials/_install.html.ejs %>
	</div>

	<div>
		<h2 class="font__title2">Usage</h2>
		<p>You can apply rhythm in two ways:</p>
		<ol class="numbers">
			<li>manually, with CSS <code>rems</code> and the <em>Rules of Rhythm</em>.</li>
			<li>using provided Rhythm classes.</li>
		</ol>

		<h3 class="font__title3 heading__separator">Rules of Rhythm</h3>
		<p>To ensure the layout and spacing grid always stays "in rhythm", follow these rules:</p>
		<ul class="bullets">
			<li>
				<p>Always use <code>rem</code> units for all <em>dimensional properties</em>:</p>
				<ul class="bullets">
					<li>Use a <strong>1rem grid</strong> (8 pixels) for components.</li>
					<li>A <strong>0.5rem grid</strong> (4 pixels) may be used for typography and iconography.</li>
				</ul></li>
			<li>
				<p>Avoid applying <code>rems</code> in fractions.</p>
				<p>Applying fractional <code>rem</code> values (except as described above) will break the rhythm grid. However, there may be rare cases where it's necessary to break the rhythm. For example, perhaps an element needs a <code>1px</code> border, or an image needs a specific height in <code>pixels</code>. These cases will break the grid.</p>
				<p>In such cases, follow this rule to place the grid back "in rhythm":</p>
				<blockquote>
					<p><em>The sum of vertical and horizontal dimensional property values for a given element, converted to <code>rems</code>, must each be an integer.</em></p>
				</blockquote>
			</li>
		</ul>

		<h3 class="font__title3 heading__separator">How to use Rhythm / Spacing classes</h3>
		<p>DS UI Rhythm provides a series of utility classes to allow you to easily apply <code>padding</code> and <code>margin</code> to any element.</p>
		<h4 class="font__subheading">Format of Rhythm utility classes</h4>
		<p>Each Rhythm class name is created following a template like this:</p>
		<blockquote>
			<pre><code>.{p|m}{l|r|t|b|x|y}-{value}</code></pre>
		</blockquote>
		<p>where:</p>
		<ul class="bullets">
			<li><code>value</code> is the rem value being applied</li>
			<li><code>p</code> applies <code>value</code> to padding</li>
			<li><code>m</code> applies <code>value</code> to margin</li>
			<li><code>l</code> applies <code>value</code> to left side</li>
			<li><code>r</code> applies <code>value</code> to right side</li>
			<li><code>t</code> applies <code>value</code> to top side</li>
			<li><code>b</code> applies <code>value</code> to bottom side</li>
			<li><code>x</code> applies <code>value</code> to left and right sides</li>
			<li><code>y</code> applies <code>value</code> to top and bottom sides</li>
		</ul>
		<h4 class="font__subheading">List of Rhythm values</h4>
		<p>By default, Rhythm classes exist for the following values:</p>
		<blockquote>
			<code>0</code>, <code>0.5rem</code>, <code>1rem</code>, <code>1.5rem</code>, <code>2rem</code>, <code>3rem</code>, <code>4rem</code>
		</blockquote>
		<p><em>Note: Additional Rhythm classes can be created by modifying the <code>$rhythm__spacing-values</code> SASS variable, which is a SASS list of rem values.</em></p>
		<h4 class="font__subheading">Examples of Rhythm utility classes</h4>
		<ul class="bullets">
			<li><code>.pl-1</code> applies 1rem of padding-left</li>
			<li><code>.mr-2</code> applies 2rem of margin-right</li>
			<li><code>.pb-1-5</code> applies 1.5rem of padding-bottom</li>
			<li><code>.mt-4</code> applies 4rem of margin-top</li>
			<li><code>.px-0-5</code> applies 0.5rem of padding-left and padding-right</li>
			<li><code>.my-1</code> applies 1rem of margin-top and margin-bottom</li>
			<li><code>.p-4</code> applies 4rem of padding</li>
			<li><code>.m-3</code> applies 3rem of margin</li>
		</ul>
		<p>See Examples for more.</p>
	</div>

	<div>
		<h2 class="font__title2">Examples</h2>
		<editor lang="html" live-preview="true" editable="true">
			<pre>&lt;div class=&quot;px-1&quot;&gt;Padding left and right&lt;/div&gt;</pre>
		</editor>
		<editor lang="html" live-preview="true" editable="true">
			<pre>&lt;div class=&quot;m-4&quot;&gt;Margin on all sides&lt;/div&gt;</pre>
		</editor>
		<editor lang="html" live-preview="true" editable="true">
			<pre>&lt;div class=&quot;m-4 mb-0 pl-2 pt-1&quot;&gt;Margin on all sides except bottom with a left and top padding&lt;/div&gt;</pre>
		</editor>
	</div>
</brik-tabs>
