---js
{
	name: 'Typography',
	npmPath: '@brikcss/typography',
	isCore: true,
	intro: `<p>DSUI Typography closely follows <a href="https://material.io/design/typography/the-type-system.html" title="Material Design type system">Material Design's type system</a>, which defines a range of type sizes that may be used. DSUI Typography provides the mechanism for applying and managing typography based on MD specs.</p>`,
	related: [
		{ name: 'Colors', path: 'core/colors' },
		{ name: 'Spacing', path: 'core/spacing' },
		{ name: 'Lists', path: 'components/lists' },
		{ name: 'Links', path: 'components/links' }
	],
	browsers: true,
	setup: `<p>Include desired file(s) in your app:</p>
			<ul>
				<li><em>PostCSS</em>: <code>@import '@brikcss/typography';</code> with <a href="https://github.com/postcss/postcss-import" title="postcss-import">postcss-import</a>.</li>
				<li><em>Precompiled</em>: <code>./dist/typography.min.css</code> for vanilla CSS.</li>
				<li><em>Custom build</em>: Follow <code>./src/typography.css</code> to create a custom build.</li>
			</ul>`
}
---

<brik-tabs class="page-tabs" tabs="About, Setup, Usage, playground">
	<div>
		<%- include ../partials/_intro.html.ejs %>

		<h2 class="font__title2">Guidelines</h2>

		<h3 class="font__title3 heading__separator">Roboto font face</h3>
		<p><strong>Roboto</strong> is the <em>only</em> UX approved font family. <brik-icon name="alert" size="1.2em"></brik-icon> Any exceptions require UX approval.</p>

		<h3 class="font__title3 heading__separator">Use only approved font styles</h3>
		<p><em>Only use approved font styles.</em> <brik-icon name="alert" size="1.25em"></brik-icon> Any exceptions require UX approval and should be added to this list.</p>

		<h4 class="font__subtitle">Font style categories</h4>
		<dl class="list__indented">
			<dt>Headlines and Titles</dt>
			<dd>Headlines and titles are the largest text on the screen, reserved for short, important text or numerals.</dd>

			<dt>Subtitles</dt>
			<dd>Subtitles are smaller than headlines but larger than body text, reserved for medium-emphasis text that is shorter in length.</dd>

			<dt>Body text</dt>
			<dd>Body text is used for long-form writing.</dd>

			<dt>Caption and Overline text</dt>
			<dd>Caption and overline text are the smallest font sizes, used sparingly to annotate imagery or introduce a headline.</dd>

			<dt>Button text</dt>
			<dd>Button text is a call to action, used in buttons, tabs, dialogs, and cards. Button text is all caps, but can be modified to sentence case.</dd>
		</dl>

		<h4 class="font__subtitle">UX approved font styles:</h4>
		<table class="type__table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Size / Weight</th>
					<th>Sample</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Overline</td>
					<td>10 / 400</td>
					<td class="font__overline">Overline: test test test test test test test test test</td>
				</tr>
				<tr>
					<td>Caption</td>
					<td>12 / 400</td>
					<td class="font__caption">Caption: test test test test test test test test test</td>
				</tr>
				<tr>
					<td>Button</td>
					<td>14 / 500</td>
					<td class="font__button">Button: test test test test test test test test test</td>
				</tr>
				<tr>
					<td>Body2</td>
					<td>14 / 400</td>
					<td class="font__body2">Body 2: test test test test test test test test test</td>
				</tr>
				<tr>
					<td>Body</td>
					<td>16 / 400</td>
					<td class="font__body">Body (default): test test test test test test test test test</td>
				</tr>
				<tr>
					<td>Subtitle2</td>
					<td>14 / 500</td>
					<td class="font__subtitle2">Subitle 2: test test test test test test test test test</td>
				</tr>
				<tr>
					<td>Subtitle</td>
					<td>16 / 400</td>
					<td class="font__subtitle">Subtitle: test test test test test test test test test</td>
				</tr>
				<tr>
					<td>Title3</td>
					<td>20 / 500</td>
					<td class="font__title3">Title 3: test test test test test test test test test</td>
				</tr>
				<tr>
					<td>Title2</td>
					<td>24 / 400</td>
					<td class="font__title2">Title 2: test test test test test test test test test</td>
				</tr>
				<tr>
					<td>Title1</td>
					<td>34 / 300</td>
					<td class="font__title1">Title 1: test test test test test test test test test</td>
				</tr>
				<tr>
					<td>H6</td>
					<td>20 / 500</td>
					<td class="font__h6">Heading 6: test test test test test test test test test</td>
				</tr>
				<tr>
					<td>H5</td>
					<td>24 / 400</td>
					<td class="font__h5">Heading 5: test test test test test test test test test</td>
				</tr>
				<tr>
					<td>H4</td>
					<td>34 / 400</td>
					<td class="font__h4">Heading 4: test test test test test test test test test</td>
				</tr>
				<tr>
					<td>H3</td>
					<td>48 / 400</td>
					<td class="font__h3">Heading 3: test test test test test test test test test</td>
				</tr>
				<tr>
					<td>H2</td>
					<td>60 / 300</td>
					<td class="font__h2">Heading 2: test test test test test test test test test</td>
				</tr>
				<tr>
					<td>H1</td>
					<td>96 / 300</td>
					<td class="font__h1">Heading 1: test test test test test test test test test</td>
				</tr>
			</tbody>
		</table>

		<h3 class="font__title3 heading__separator">Limit line length for readability</h3>
		<p>For best readability, lines of text should be no longer than ~60 characters. Shorter lines of text should wrap at ~30 characters or less.</p>

		<h3 class="font__title3 heading__separator">Approved text colors</h3>
		<p>Refer to the <a href="#!/core/colors">Colors component</a> for applying text colors.</p>

		<h3 class="font__title3 heading__separator">Additional guidelines</h3>
		<p><a href="https://material.io/design/typography/" title="Material Design type specs"><abbr title="Material Design">MD</abbr> type specs</a> are an extension of DSUI, and should be referred to for further guidance.</p>
	</div>

	<div>
		<%- include ../partials/_install.html.ejs %>
	</div>

	<div>
		<h2 class="font__title2 mt-0">Usage</h2>
		<p>A class and a "style set" is provided for each named typography style (see "About" tab for list of named styles). Each class and style set follows a naming convention:</p>
		<pre><code>font__&lt;name></code></pre>
		<p><em>Note: See the "About" tab for a full list of available font styles and their names.</em></p>

		<h3 class="font__title3 heading__separator">Rules of engagement</h3>
		<ul class="bullets">
			<li><em>Always</em> use font classes to apply a font style in markup.</li>
			<li><em>Always</em> use a font style set to apply a font style in CSS.</li>
			<li><em>Never</em> modify CSS <code>font-*</code> properties without UX approval.</li>
		</ul>

		<h3 class="font__title3 heading__separator">Font classes</h3>
		<p>Use font classes to apply font styles in markup. For example:</p>
		<brik-editor>
			<brik-code lang="html">&lt;h2 class="font__title1"&gt;My awesome font in "title" style.&lt;/h2&gt;</brik-code>
		</brik-editor>

		<h3 class="font__title3 heading__separator">Font style sets</h3>
		<p>Use font style sets to apply font styles in CSS. For example:</p>
		<brik-editor>
			<brik-code lang="css" label="PostCSS">.my-heading {
	@apply --font__title1;
}</brik-code>
			<brik-code lang="css" label="Compiled">/* Note: PostCSS converts all `px` values to `rem`s. */
.my-heading {
	font-size: 4.25rem;
	font-weight: 400;
	line-height: 5rem;
	letter-spacing: 0.01471rem;
	font-weight: 300;
}</brik-code>
		</brik-editor>
	</div>

	<div>
		<h2 class="font__title2 mt-0">Font classes</h2>
		<p>Edit the class in the editor below with one of the following: <code>overline</code>, <code>caption</code>, <code>body</code>, <code>body2</code>, <code>subtitle2</code>, <code>subtitle</code>, <code>title3</code>, <code>title2</code>, <code>title1</code></p>

		<brik-editor editable="true" live-preview="true">
			<brik-code lang="html">&lt;p class="font__subtitle">Subtitle: I am subtitle text. Wow.&lt;/p></brik-code>
		</brik-editor>
	</div>
</brik-tabs>
