/** ------------------------------------------------------------------------------------------------
 *  @filename  header.scss
 *  @author  brikcss  <https://github.com/brikcss>
 *  @dependencies  core/colors.abstract
 ** --------------------------------------------------------------------------------------------- */

// -------------
// Header setup.
//
$header-init: true !default;
$header__base: header !default;
$header__height: 8rem !default;
$header__padding: 0 4rem !default;
$header__bg: if(function-exists(c), c(color1), hsl(199, 98%, 48%)) !default;

/**
 *  Create page header.
 */
@mixin header($height: $header__height, $padding: $header__padding, $bg: $header__bg) {
	display: flex;
	align-items: center;
	position: relative;
	height: $height;
	min-height: $height;
	padding: $padding;
	@include bg($bg);
	@include elevate(4);
}
