<header class="<%= data.baseClass %>">
	<button type="button" class="burger" data-ng-click="appCtrl.sidebars.toggle('left')" data-ng-class="{'--is-active': appCtrl.sidebars.left.active}"><span class="burger__toppings"></span></button>
	<div class="<%= data.baseClass %>__title">DirectScale UI</div>
	<div class="<%= data.baseClass %>__toolbar">
		<button class="<%= data.baseClass %>__button" ng-click="appCtrl.showVerticalGrid = !appCtrl.showVerticalGrid" type="button">Rhythm</button>
	</div>
</header>
