/** ------------------------------------------------------------------------------------------------
 *  _footer.abstract.scss
 *  ---------------------
 *  @author  brikcss  <https://github.com/brikcss>
 *  @description  Footer abstract.
 ** --------------------------------------------------------------------------------------------- */

// -------------
// Footer setup.
//
$footer-init: true !default;
$footer__base: footer !default;
$footer__height: 2rem !default;
$footer__padding: 0 1rem !default;
$footer__bg: hsl(0, 0%, 90%) !default;

/**
 *  Global footer element.
 *
 *  @param   {number}  $height:  $footer__height  Height.
 *  @param   {number|list}  $padding:  $footer__padding  Padding.
 *  @param   {color}  $bg:  $footer__bg  Background color.
 */
@mixin footer($height: $footer__height, $padding: $footer__padding, $bg: $footer__bg) {
	background-color: $bg;
	display: flex;
	align-items: center;
	padding: $padding;
	height: $height;
}
