/** ================================================================================================
 *  Core setup.
 ** ----------- */

@import '@brikcss/core';

:root {
	--base-font__size: 14px;
}

/** ================================================================================================
 *  App layer.
 ** ---------- */

/* stylelint-disable-next-line selector-max-type, selector-pseudo-class-no-unknown */
ds-icon:not(:defined) {
	display: inline-flex;
	height: 2rem;
	width: 2rem;
}
