$pinned-width: 1080px;

// stylelint-disable selector-max-type
html {
	overflow: hidden;
}

body {
	height: 100%;
	overflow: hidden;
}

*:focus {
	outline-width: 2px;
	outline-style: solid;
}

sub,
sup {
	/* Specified in % so that the sup/sup is the right size relative to the surrounding text */
	font-size: 0.75em;

	/* Zero out the line-height so that it doesn't interfere with the positioning that follows */
	line-height: 0;

	/* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */
	position: relative;

	/* Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */
	vertical-align: baseline;
}

sup {
	/* Move the superscripted text up */
	top: -0.5em;
}

sub {
	/* Move the subscripted text down, but only half as far down as the superscript moved up */
	bottom: -0.25em;
}

dt {
	font-style: italic;
}

blockquote {
	padding-left: 2rem;
	border-left: 0.5rem solid hsl(0, 0%, 90%);
}
// stylelint-enable selector-max-type

// -------
// Spacing
// Try to set sensible defaults.
$spacing__elements: (
	6rem: (h2, h3),
	4rem: (h4),
	2rem: (h5, h6, p, blockquote),
	0:
		(
			'h1:first-child',
			'h2:first-child',
			'h3:first-child',
			'h4:first-child',
			'h5:first-child',
			'h6:first-child',
			'p:first-child',
			'ul:first-child',
			'ol:first-child'
		)
);
@each $value, $selectors in $spacing__elements {
	@for $i from 1 through length($selectors) {
		#{nth($selectors, $i)} {
			margin-top: $value;
		}
	}
}

.sp__0 {
	margin: 0;
}

// -----------
// Typography.
//
// stylelint-disable-next-line selector-max-type
code {
	background-color: lighten(c(dark4), 20%);
	font-family: 'Roboto Mono', monospace;
	line-height: 1;

	// stylelint-disable-next-line selector-max-type
	pre & {
		background-color: transparent;
	}
}

// stylelint-disable-next-line selector-max-type
li {
	margin-top: 2rem;
}

.bullets,
.numbers {
	padding-left: 4rem;
}

.bullets {
	list-style-type: disc;
}

.numbers {
	list-style-type: decimal;
}

// -------
// Header.
//
.header {
	&__title {
		padding-right: 2rem;
		flex-grow: 1;

		&:first-child {
			padding-left: 0;
		}
	}

	&__version {
		color: c(light2);
		font-size: 0.6em;
		line-height: 1;
		margin-left: 1rem;
	}

	&__button {
		color: inherit;
	}

	.burger {
		padding-right: 2rem;
	}
}

// -----
// Page.
//
.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;

	@media (min-width: $pinned-width) {
		min-width: 0;
	}

	&__scroller {
		height: calc(100vh - 8rem);
		flex-grow: 1;
		overflow-y: auto;
	}

	&__content {
		flex-grow: 1;
		min-height: calc(100vh - 16rem);
		padding: 4rem;
	}
}

.page-tabs {
	margin-left: -4rem;
	margin-right: -4rem;
	margin-top: -4rem;

	.tabs__content {
		padding: 4rem 4rem 0;
	}

	.tabs__buttons {
		background-color: hsl(0, 0%, 100%);
		border-bottom: 1px solid c(dark4);
		height: 6rem;
		position: relative;
		z-index: 40;
	}

	.tabs__button {
		height: 100%;
		padding-left: 4rem;
		padding-right: 4rem;
		position: relative;
		margin-left: 0;
		transition: color 200ms;

		&:before {
			content: ' ';
			border-color: c(color1) transparent transparent transparent;
			border-width: 0;
			border-style: solid;
			height: 0;
			width: 0;
			position: absolute;
			left: 50%;
			top: 0;
			z-index: -1;
			transition-property: border-width, left;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.3, 0.2, 0.2, 1.3);
		}

		&:after {
			content: ' ';
			background-color: transparent;
			opacity: 0.7;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			transition: background-color 200ms;
			z-index: -1;
		}

		&--active {
			color: c(light);

			&:before {
				border-width: 1.25rem 1rem 0;
				left: calc(50% - 1rem);
			}

			&:after {
				background-color: c(color1);
			}
		}
	}

	.tabs__button-label {
		position: relative;
		z-index: 1;
	}
}

// ---------
// Supernav.
//
.supernav {
	background-color: c(gray);
	overflow: hidden;

	&__header {
		background-color: c(supernav);
		height: 8rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__logo {
		max-height: 80%;
		max-width: 80%;
	}

	&__body {
		height: calc(100vh - 8rem);
		overflow-y: auto;
	}

	&__section {
		border-bottom: 1px solid hsl(0, 0%, 80%);
		height: 6rem;
	}

	&__link {
		@include font(subheading);
		color: inherit;
		display: flex;
		align-items: center;
		height: 6rem;
		position: relative;
		text-decoration: none;
	}

	&__menu {
		list-style-type: none;

		// stylelint-disable-next-line selector-max-type
		li {
			margin-top: 0;
		}

		.supernav__link {
			@include font(body);
			height: 4rem;
			padding-left: 6rem;
		}
	}

	&__menu-icon {
		color: c(supernav-icon);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 3rem;
		width: 6rem;
	}
}

.editor {
	display: block;
}

.version {
	font-size: 0.6em;
	line-height: 4rem;
}

.dsui-page {
	&__related {
		margin-top: 4rem;

		li {
			margin-top: 0;

			// stylelint-disable-next-line selector-max-type
			&:first-child {
				margin-top: 2rem;
			}
		}
	}

	&__about {
		font-size: sp(subheading);
	}

	// stylelint-disable-next-line scss/media-feature-value-dollar-variable
	@media (min-width: 768px) {
		&__intro {
			display: flex;
			width: 100%;
		}

		&__about {
			// flex-grow: 1;
		}

		&__related {
			// stylelint-disable-next-line declaration-property-unit-whitelist
			width: sp(280px);
			margin-top: 0;
			margin-left: 16rem;
		}
	}
}

.pg-colors {
	&__colors-list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -1.5rem;
		margin-right: -1.5rem;

		&--dark {
			background-color: c(supernav);
			padding-bottom: 2rem;
			margin-left: 0;
			margin-right: 0;
		}
	}

	&__color {
		box-shadow: 0.5rem 1rem 2rem hsla(0, 0%, 0%, 0.3);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 20rem;
		line-height: 2rem;
		margin-left: 1.5rem;
		margin-right: 1.5rem;

		&--dark {
			background-color: hsl(0, 0%, 20%);
			color: c(light);
		}

		&-value {
			font-size: 0.9em;
			display: flex;
			flex-direction: column;
			min-height: 12rem;
			width: 100%;
			padding: 2rem;
		}
	}

	&__color-meta {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 20rem;
		padding: 1rem;
		@include font(caption);
		color: c(dark1);

		&:empty {
			padding: 0;
		}

		.pg-colors__color--dark & {
			color: c(light1);
		}
	}

	&__color-name {
		margin-bottom: 1rem;
	}

	&__color-hex {
		margin-bottom: 1rem;
	}
}

.heading__separator {
	border-bottom: 2px solid hsla(0, 0%, 0%, 0.1);
	padding-bottom: calc(1rem - 2px);
	@extend .color__dark2;
}
