<!DOCTYPE html>
<html data-ng-app="dsui">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>DirectScale UI Library - Front End Components with BrikCSS</title>
	<%- include('../briks/stylesheets/stylesheets.ejs.html') _%>
</head>
<body data-ng-controller="appCtrl as appCtrl">

	<div sidebars="app">
		<%- include('../briks/sidebars/superbar.ejs.html', {baseClass: 'superbar'}) %>

		<div class="sidebars__content page">
			<%- include('../briks/header/header.ejs.html', {baseClass: 'header'}) %>

			<main class="page__scroller">
				<div>{{appCtrl.pageTitle}}</div>
				<!-- @todo: Support content level sidebars? -->
				<!-- <aside class="sidebar--left"></aside> -->

				<div class="page__content" data-ng-class="{'rhythm__grid': appCtrl.showVerticalGrid}" ui-view="content"></div>

				<!-- @todo: Support content level sidebars? -->
				<!-- <aside class="sidebar--right"></aside> -->
				<%- include('../briks/footer/footer.ejs.html', {baseClass: 'footer'}) %>
			</main>

		</div>

		<%- include('../briks/sidebars/rightbar.ejs.html', {baseClass: 'rightbar'}) %>

		<div class="sidebar__overlay"></div>
	</div>

	<script src="js/app.js"></script>
</body>
</html>
