/** ------------------------------------------------------------------------------------------------
 *  @filename  _code-editor.init.scss
 *  @author  brikcss  <https://github.com/brikcss>
 *  @dependencies  core/colors.abstract
 ** --------------------------------------------------------------------------------------------- */

.editor {
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;

	.hljs {
		line-height: 2rem;
		padding: 2rem;
		tab-size: 4;
	}

	&__code {
		display: flex;
		@include bg(dark);
		background-color: hsl(220, 13%, 18%);
	}

	&__code-tab {
		position: relative;
		width: 100%;
		min-width: 100%;
		margin-left: -100%;
		opacity: 0;
		transition: opacity 0.5s, transform 0.25s;

		&:first-of-type {
			margin-left: 0;
		}

		&--active {
			opacity: 1;
			z-index: 1;
		}
	}

	&__highlighted-code {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;

		.editor--read-only & {
			position: static;
		}
	}

	&__raw-code {
		width: 100%;
		position: relative;
		z-index: 1;
		-webkit-text-fill-color: transparent;

		&:focus {
			-webkit-text-fill-color: inherit;
		}

		&.hljs {
			background: transparent;
		}

		// stylelint-disable-next-line selector-max-type
		code {
			outline: none;
		}
	}

	&__tab-button {
		color: c(dark2);

		&--active {
			color: c(dark1);
		}

		+ .editor__tab-button {
			margin-left: 4rem;
		}
	}

	&__preview {
		border-color: c(dark4);
		border-width: 1px 1px 0;
		border-style: solid;
		// stylelint-disable-next-line declaration-property-unit-whitelist
		padding: calc(2rem - 1px) 2rem 2rem;
		position: relative;
	}

	&__tabs {
		background-color: c(gray);
		border-color: c(dark4);
		border-width: 1px 1px 0;
		border-style: solid;
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
